@media only screen and (max-width: 1100px) {
		.container {width: 90%;}

		.logo {
				min-width: 100%;
				height: auto;
				margin-left: 10px;
			}

		.nav-main {
				font-size: 0.9em;
				width: 100%;
				margin-left: 10px;
			}

		.nav-main li {
				padding: 0 5px;
			}

		.nav-main li:after {
				content: ""; /*adding this character*/
				padding-left: 5px;
			}

		.banner {
				height: 100px;
				margin-top: 10px;
			}

		.feature h2 {font-size: 30px;}
		.feature h3 {font-size: 20px;}
		.container {width: 100%;}

	/* Secton: Content */

		.content h3 {
				font-size: 20px;
				margin-left: 10px;
			}

		.content p {margin-left: 10px;}

		.box h3 {font-size: 20px;}

	main {width: 100%;}
	aside {width: 100%; text-align: center;}
	aside img {max-width: 30%;}
	main {padding: 40px 0 20px;}
	aside {padding: 0 0 50px;}
	.box {width: 100%;}
}

@media only screen and (max-width: 490px){
	.nav-main {
		font-size: 0.7em;
		width: 100%;
	}
}